<mat-accordion>
    <mat-expansion-panel hideToggle (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title> Adataim </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Nézet: </p>
        <button mat-button (click)="chosen = 'light'" [ngClass]="{'active': chosen === 'light' }">Világos</button>
        <button mat-button (click)="chosen = 'dark'" [ngClass]="{'active': chosen === 'dark'}">Sötét</button>
        <mat-list [ngClass]="chosen" id="list">
            <mat-list-item>Név:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Születési idő:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Lakcím:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Státusz:</mat-list-item>
          </mat-list>
    </mat-expansion-panel>
</mat-accordion>