<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button (click)="onToggleSidenav(sidenav)" class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <nav>
        <ul>
          <li><button mat-button [routerLink]="['/']" routerLinkActive="router-link-active"
              routerLinkActive="router-link-active">
              <mat-icon><span class="material-symbols-outlined">home</span></mat-icon>Főoldal
            </button></li>
          <li><button mat-button [routerLink]="['/paintings']" routerLinkActive="router-link-active">
              <mat-icon><span class="material-symbols-outlined">brush</span></mat-icon>Festmények
            </button></li>
          <li><button mat-button [routerLink]="['/drawings']" routerLinkActive="router-link-active">
              <mat-icon><span class="material-symbols-outlined">draw</span></mat-icon>Rajzok
            </button></li>
          <li><button mat-button [routerLink]="['/statues']" routerLinkActive="router-link-active">
              <mat-icon><span class="material-symbols-outlined">sports_martial_arts</span></mat-icon>Szobrok
            </button></li>
          <li><button mat-button [routerLink]="['/artists']" routerLinkActive="router-link-active">
              <mat-icon><span class="material-symbols-outlined">person</span></mat-icon>Művészek
            </button></li>

          @if (isLoggedIn) {
          <li><button mat-button routerLink="/profile" routerLinkActive="router-link-active"
              style="text-align: center;">
              <mat-icon><span class="material-symbols-outlined">account_circle</span></mat-icon>
            </button></li>
          <button mat-button routerLink="/card" routerLinkActive="router-link-active" style="text-align: center;">
            <mat-icon><span class="material-symbols-outlined">shopping_cart</span></mat-icon>
          </button>
          }

          @if (!isLoggedIn) {
          <li><button mat-button routerLink="/login" routerLinkActive="active-list-item">
            <mat-icon matListItemIcon><span class="material-symbols-outlined">
                meeting_room
                </span></mat-icon>
            <span matListItemTitle>Bejelentkezés</span>
        </button></li>
          }

          @if (isLoggedIn) {
          <li><a href="#" (click)="$event.preventDefault(); logout()">Logout</a></li>
          }
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>